#[Host]#
%issue.host%

#[Details]#
%issue.detail%

#[Path]#
%issue.path%

#[Location]#
%issue.location%

#[Severity]#
%issue.severity%

#[Confidence]#
%issue.confidence%

#[Request]#
bc.. %issue.request%

#[Response]#
bc.. %issue.response%