#[Location]#
%issue.location%

#[Output]#
p. *Request 1*

bc.. %issue.request%

p. *Response 1*

bc.. %issue.response%

p. *Request 2*

bc.. %issue.request_1%

p. *Response 2*

bc.. %issue.response_1%

p. *Request 3*

bc.. %issue.request_2%

p. *Response 3*

bc.. %issue.response_2%

p. *Request 4*

bc.. %issue.request_3%

p. *Response 4*

bc.. %issue.response_3%
