#[Title]#
%issue.name%

#[CVSSv3.BaseScore]#
%issue.severity%

#[CVSSv3.Vector]#
n/a

#[Type]#
External

#[Description]#
%issue.background%

#[Solution]#
%issue.remediation_background%

#[References]#
%issue.references%
